.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  height: 40px;
  border: 1px solid #232323;
  border-radius: 8px;
  font-weight: 600;
  box-sizing: border-box;
}
