.uploadHeaderContainer {
  display: flex;
}

.headingLeft {
  width: 50%;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
}

.headingRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pagingItems {
  display: flex;
  width: 140px;
  padding-top: 10px;
}
.pagingItem {
  width: 40px;
  height: 6px;
  border-radius: 10px;
  background: #DEDEDE;
  margin-left: 5px;
}

.pagingItemActive {
  background: #232323;
}

.upload-box {
  background:#FEFEFE;
  border-radius: 6px;
  min-height: 300px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadIcon {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background: #E4F3FE;
  color: #2C97D7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  margin: auto !important;
}

.uploadIcon img {
  width: 70px;
}

.desTxt {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
}

.highlightTxt {
  color: #0991F3;
  cursor: pointer;
}

.upload-box div {
  margin: 15px 0;
  padding: 0 10px;
}

.lightBtn {
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  color: #545454;
}

.btnGroup {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.nextBtn {
  color: #FEFEFE;
  background: #232323;
  padding: 7px 35px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.prevBtn {
  background: #FEFEFE;
  color: #232323;
  padding: 7px 35px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 15px;
}

.recommendedFormat {
  text-align: center;
}

.uploadBtnHolder {
  text-align: center;
}

.imageWrapper {
  text-align: center;
}

.removeBtn {

}
.buttonNext{
  margin-bottom: 20px;
}