html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #F8F8F8 !important;
}

.ant-layout {
  background: #F8F8F8 !important;
}

.ant-modal {
  top: 200px !important;
}

.ant-modal-content {
  border-radius: 20px !important;
}

.ant-select-selector {
  border-radius: 10px !important;
  height: 3rem !important;
}

.ant-select-selection-item {
  line-height: 2.8rem !important;
}

.ant-picker {
  border-radius: 10px !important;
  height: 3rem !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.secondary-color {
  color: grey !important;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}